@CHARSET "UTF-8";
body{
	width: 98%;
	height: 96%;
}
table{
	margin: 0 auto;
	border-collapse: collapse;
	width: 99%;
}
tr, th, td{

}

.button{
	border: thin solid black;
	background-color: #408FE3;
	cursor: pointer;
	padding: 5px 10px;
}