body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #eee;
}
.loginForm {
	max-width: 700px;
	padding: 100px;
	margin: 0 auto;
}

.loginForm input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.loginForm input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.loginForm .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
}
.loginForm .form-group label h3 {
	margin-top: 4px;
	text-align: center;
}

.loginForm .form-group .eklabel {
	margin-left: 30px;
}